<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501019962241-jv189goa370gbq3dgj3sek5p7gh519ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501019962241-jv189goa370gbq3dgj3sek5p7gh519ur</string>
	<key>API_KEY</key>
	<string>AIzaSyBCvPvshAxQPHW9Sahv1vQMVnUcKIh_a60</string>
	<key>GCM_SENDER_ID</key>
	<string>501019962241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicCountFe</string>
	<key>PROJECT_ID</key>
	<string>medicine-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>medicine-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501019962241:ios:a9a288d157efed73c85680</string>
</dict>
</plist>